[submodule "hugo-saasify-demo"]
	path = hugo-saasify-demo
	url = git@github.com:chaoming/hugo-saasify-demo.git
[submodule "hugoThemesSiteBuilder"]
	path = hugoThemesSiteBuilder
	url = https://github.com/gohugoio/hugoThemesSiteBuilder.git
